<!DOCTYPE html>
<html>
<head>
	<title>Seneca Ubiq</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>



	{% include 'courses/messages.html' %}

	<div style="background-color:lightblue" class="container">
		<ol style="background-color:lightblue" class='breadcrumb'>
		    

	        <li><a style="color:Tomato;" href="{% url 'memberships:profile' %}">Profile</a></li>
			
	        
	        {% block post_detail_link %}
	        {% endblock %}

	        {% if not request.user.is_authenticated %}
			<li style="color:Tomato;" class='pull-right'><a style="color:Tomato;" href='/register'>Register</a></li>
	        <li style="color:Tomato;" class='pull-right'><a style="color:Tomato;" href='/login'>Login</a></li>
	        {% else %}
	        <li style="color:Tomato;" class='pull-right'><a style="color:Tomato;" href='/memberships'>Memberships</a></li>
	        {% endif %}
	    </ol>
		
	</div>
	<h1> <center> Welcome to Seneca Ubiq </center> </h1>
	<center> 
			     <form action="/search" method="GET" value="{{request.GET.q}}">
                    Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search course"/>
                        <input type="submit" name="submit" value="Search"/>
                 </form>


                    {% if submitbutton == 'Search' and request.GET.q != '' %}

					{% if results %}
					<h1>Results for <b>{{ request.GET.q }}</b></h1>
					<br/><br/>

					{% for result in results %}

						<div>
						<h3>
						{{result.title}}
						<br/>

						{{result.description}}
						
						<br/>
						</h3>
						</div>

					{% endfor %}
					{% else %}
					No search results for this query
					{% endif %}
					{% endif %}
		         
		
		    </center>

	{% block content %}
	{% endblock content %}
	

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>