{% extends 'courses/base.html' %}
{% block post_detail_link %}
<li>{{ object.title }}</li>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<!--<h1 style="color:DodgerBlue;"> Course Detail</h1> -->
				<h3>{{ object.title }}</h3>
				<p>
				    Level : {{ object.description }}
				</p>
				<ol>
					{% for lesson in object.lessons %}
					
					<li><a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a></li>
					<video controls 
					   controlsList="nodownload"
					   poster="{{ lesson.thumbnail.url }}"
					   
				       width="200"
				       height="150">
				    Sorry, your browser doesn't support embedded videos.
				</video>
					{% endfor %}
				</ol>
				
			</div>
		</div>
	</div>

{% endblock %}