{% extends 'courses/base.html' %}

{% block content %}
<br>
 


 <div class="container">
 <div class="row">
    
	<div class="col-sm-6" >
      <video controls
					   controlsList="nodownload"
					   poster="{{ object.thumbnail.url }}"
				       src="/static{{ object.video_url }}"
					   

				       width="450"
				       height="500">
				    Sorry, your browser doesn't support embedded videos.
	  </video>
    </div>

	<br>

    <div class="col-sm-6">
	
	
	<h2><a href="{{ course.get_absolute_url }}">{{ object.title }} </a></h2>
		    <h3> Our all new dynamic course ! </h3>
		    <h3><p>{{ object.description }}</p></h3>
		
				<h3 style="color:Tomato;">To view more courses </h3>  
				<a href="{% url 'courses:list' %}">
				<button class="btn btn-warning">Click Here</button></a>
    
	</div>

	
</div>
<p>

    <div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<h1 style="color:Tomato;">More Courses On Offering</h1>
				{% for object in clist %}
                    
					<a href="{{ object.get_absolute_url }}">{{ object }}</a> <br>

				{% endfor %}
			</div>
		</div>
	</div>

   </p>

</div>
	
{% endblock %}	    
	
	

